GameCentral/StorageGUI/Connected Services/IGameCentralServiceCustomerReference2/Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element name="_x003C_CVR_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerType_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Phone_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ZipCode_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>